/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =========end of reset css=========== */

body {
  background: url(images/background.png);
  overflow: no-scroll;
  overflow-y: hidden;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: 'Fredoka One', cursive;
  margin-top: 1rem;
}

h2{
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
}

h4{
  font-size: 1.1rem;
}

p, div, button, ul, ol, li {
  font-family: 'Roboto', sans-serif;
}

.game_play {
  width : calc(100vw - 2rem);
  height : calc(100vh - 2rem);
  padding: 1rem;
}

button.start-game {
  padding: 1rem;
  text-align: center;
  display: block;
  width: 15%;
  margin: 10% 42.5%;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  background: white;
}

button.start-game h2 {
  margin-top: 0;
}

.game_interface {
  width   : calc(100vw - 2rem);
  height  : calc(100vh - 2rem);
  position: absolute;
  top: 0;
  transition: all .5s ease-out;
  z-index: 1000;
}

.game_interface .title {
  text-align: center;
  font-size: 5em;;
}

.game_interface[data-pane-type="intro"] {
  background: #aee9d9ce;
  padding: 1rem;
  /* display: none; */
}

.game_interface[data-pane-type="pause"] {
  background: #aee9d9ce;
  display: none;
}

.game_interface[data-pane-type="exit"] {
  background: #0cb586ce;
  display: none;
}

.slideUpAway {
  top: -100vh;
}

.begin-box {
  margin-top: -5rem;
  height: 5rem;
  width: 10%;
  margin-left: 0;
}

div.dot {
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

div.dot i{
  height: 30px;
  width: 30px;
  padding: .7rem;
}

.fall {
  position: absolute !important;
  left: 0;
  top: -11rem;
  animation: falling 3s linear;
}

footer {
  background: navy;
  color: white;
  padding: 1rem;
}

@keyframes falling {
  0% {
    top: 0%;
    transform: rotate(0deg);
  }

  25% {
    top: 25%;
    transform: rotate(90deg);
  }

  50% {
    top: 50%;
    transform: rotate(0deg);
  }

  75% {
    top: 75%;
    transform: rotate(-90deg);
  }

  100% {
    top: 100%;
    transform: rotate(0deg);
  }
}

@keyframes rightAndLeft {
  0% {
    margin-left: 0%;
    /* transform: rotate(0deg); */
  }

  50% {
    margin-left: 100%;
    /* transform: rotate(0deg); */
  }

  100% {
    margin-left: 0%;
    /* transform: rotate(0deg); */
  }
}


/* ======slider css========== */

.slider{
  margin: 60px 0 0 0%;
}

.slider{
  width: 100%;
}

.range-slider.range {
  -webkit-appearance: none;
  width             : 80%;
  height            : 25px;
  border-radius     : 20px;
  background        : white;
  outline           : none;
  padding           : 0;
  margin            : 0 10%;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.range-slider.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance        : none;
  width             : 40px;
  height            : 40px;
  border-radius     : 50%;
  background        : #00956d;
  cursor            : pointer;
  transition        : background .15s ease-in-out;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
  box-shadow: 0 0 0 3px #fff,
0 0 0 6px #1abc9c;
}

.range-slider.range::-webkit-slider-thumb:hover {
  background: #1abc9c;
  box-shadow: 0 0 0 3px #fff,
0 0 0 6px #1abc9c;
}

.range-slider.range:active::-webkit-slider-thumb {
  background: #1abc9c;
  box-shadow: 0 0 0 3px #fff,
0 0 0 6px #1abc9c;
}

.range-slider.value {
  font-family: 'Fredoka One',  cursive;
  font-size: 2rem;
  display: block;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
